<html>
<head>
	<title>Intellipark Loading	</title>
	<meta http-equiv="refresh" content="3;{{ url_for('home') }}">
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
	<body style="position: fixed; overflow: hidden; width: 100%">
		<div style="margin-top: 100px; margin-left: 650px"> <img src="{{ url_for('static', filename='img/intellilogo.jpeg') }}" alt="Intellipark"></div>
		<div class="hero" style="margin-top: -250px"></div>
			<div class="highway"></div>			
			<div class="city"></div>

			<div class="car">
				<img src="{{ url_for('static', filename='img/car.png') }}">
			</div> 

			<div class="wheel">
				<img src="{{ url_for('static', filename='img/wheel.png') }}" class="back-wheel">
				<img src="{{ url_for('static', filename='img/wheel.png') }}" class="front-wheel">
			</div>
	</body>
</html>